.fr{
    float: right;
}
.fl{
    float: left;
}
body{
    background: #eeeeee;
    font-size: 14px;
    overflow-y: auto !important;
}
header{
    padding: 10px 50px;
    background: #003366;
    height: 45px;
}
header h1, header a, header span,header a:hover{
    color: #fff;
}
header a:hover{
    text-decoration: underline;
}
a{
    color: #114f8e
}
a:hover{
    color: #1E9FFF
}
label em{
    color: red !important;
}
.text-right{
    text-align: right;
}
.mgt10{
    margin-top: 10px;
}
.mgb10{
    margin-bottom: 10px;
}
.mgt20{
    margin-top: 20px;
}
.mgb20{
    margin-bottom: 20px;
}
.login-block{
    line-height: 40px;
}
#container{
    margin-top: 50px;
}
.layui-form{
    background: #fff;
    padding: 20px;
}
#container{
    background: #fff;
    padding: 0;
    min-height: 780px;
}
#left-nav{
    font-size: 16px;
    background: #114f8e;
    color: #fff;
    display: block;
    height: 840px;
}
#left-nav li{
    line-height: 30px;
}
#left-nav li a {
    color: #fff;
    padding-left: 10px;
    display: block;
    line-height: 30px;
}
#left-nav li a:hover,#left-nav li a.active{
    background: #2E6DAD;
}
.form-input-text{
    line-height: 38px;
}