*{
    margin:0;
    padding:0;
}
body{
    overflow-x: hidden;
}
a{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
ul,li{
    list-style-type: none;
}
.hide{
    display:none;
}
.default-style-color{
    background-color:#1b2226!important;
    color:#f5f5f5!important;
}
.c-container{
    width:100%;
}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.basic-desktop-container .topbar-box{
    width:100%;
    height:51px;
    line-height: 51px;
    border-bottom:1px solid rgb(84, 83, 83);
}
.basic-desktop-container .topbar-box .menu-btn{
    position: absolute;
    width:56px;
    height:51px;
    line-height: 51px;
    background-color:#03c0dd;
    text-align: center;
    cursor: pointer;
    z-index:9999;
}
.basic-desktop-container .topbar-box .menu-btn .menu-child-list{
    position: absolute;
    width:200px;
    background-color:#252a2d;
    z-index:9999;
    top:52px;
    left:0;
    overflow-y: auto;
    overflow-x:hidden;
}
.basic-desktop-container .topbar-box .menu-btn .menu-child-list li{
    box-sizing: border-box;
    padding-left:16px;
    text-align: left;
    height:48px;
    color:#f5f5f5;
}
.basic-desktop-container .topbar-box .menu-btn .menu-child-list li:hover{
    background-color:#03c0dd;
}
.basic-desktop-container .topbar-box .menu-btn .menu-child-list li a{
    color:#f5f5f5;
}
.basic-desktop-container .topbar-box .menu-btn .menu-child-list::-webkit-scrollbar{
    display: none;
}
.basic-desktop-container .topbar-box .menu-btn .icon-menu{
    background-image: url(../imgs/menu_1.png);
    width:20px;
    height:18px;
    background-size:100% 100%;
    display:inline-block;
    margin-top:16px;
}
.basic-desktop-container .topbar-box .topbar .title-text{
    margin-left:60px;
}
.basic-desktop-container .topbar-box .topbar .pull-left{
    position: relative;
}
.basic-desktop-container .topbar-box .topbar .pull-left .tips-text-box{
    display:block;
    width:42px;
    height:23px;
    position: absolute;
    background-image: url(../imgs/tips_1.png);
    background-size:100% 100%;
    background-repeat: no-repeat;
    right:-50px;
    top:8px;
}
.basic-desktop-container .topbar-box .topbar .pull-right .user-box{
    display: inline-block;
}
.basic-desktop-container .topbar-box .topbar .pull-right .user-box .icon-user{
    display:inline-block;
    width:13px;
    height:14px;
    background-image: url(../imgs/male.png);
    background-size:100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    vertical-align:middle;
}
.basic-desktop-container .topbar-box .topbar .pull-right .user-box .welcome{
    font-size:12px;
    cursor: pointer;
    margin:0 0px 0 10px;
}
.basic-desktop-container .topbar-box .topbar .pull-right .c-line-1{
    color:rgb(136, 135, 135);
    cursor: default;
    margin:0 25px;
}
.basic-desktop-container .topbar-box .topbar .pull-right .topbar-btn-list{
    display: inline-block;
}
.basic-desktop-container .topbar-box .topbar .pull-right .topbar-btn-list .icon-email{
    display:inline-block;
    width:13px;
    height:14px;
    background-image: url(../imgs/email.png);
    background-size:100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    vertical-align:middle;
}
.basic-desktop-container .topbar-box .topbar .pull-right .topbar-btn-list .icon-email:hover{
    background-image: url(../imgs/email_on.png);
}
.basic-desktop-container .topbar-box .topbar .pull-right .topbar-btn-list .icon-skin{
    display:inline-block;
    width:13px;
    height:14px;
    background-image: url(../imgs/skin.png);
    background-size:100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    vertical-align:middle;
}
.basic-desktop-container .topbar-box .topbar .pull-right .topbar-btn-list .icon-skin:hover{
    background-image: url(../imgs/skin_on.png);
}
.basic-desktop-container .topbar-box .topbar .pull-right .topbar-btn-list .icon-question{
    display:inline-block;
    width:13px;
    height:14px;
    background-image: url(../imgs/whaaa.png);
    background-size:100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    vertical-align:middle;
}
.basic-desktop-container .topbar-box .topbar .pull-right .topbar-btn-list .icon-question:hover{
    background-image: url(../imgs/whaaa_on.png);
}
.basic-desktop-container .topbar-box .topbar .pull-right .topbar-btn-list .icon-close{
    display:inline-block;
    width:13px;
    height:14px;
    background-image: url(../imgs/power.png);
    background-size:100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    vertical-align:middle;
}
.basic-desktop-container .topbar-box .topbar .pull-right .topbar-btn-list .icon-close:hover{
    background-image: url(../imgs/power_on.png);
}
.basic-desktop-container .topbar-box .topbar .pull-right .topbar-btn-list .btn-item{
    margin-right:25px;
} 
.basic-desktop-container .topbar-box .topbar .pull-right .topbar-btn-list .btn-item:last-child{
    margin-right:10px;
}

@media (min-width: 1200px){
    .row{
        width:100%;
    }
    .col-lg-12 {
        width: 100%;
    }
}

