.calendar .day{position:relative!important;}
.c-xiu{position:absolute;bottom:0;right:0;color:#fff;background:#f00;width: 17px;height: 17px;text-align: center;line-height: 17px;}
.c-nl-jr,.c-jr{position:absolute;top:0;left:0;display:inline-block;padding:0 5px;background:#00f;color:#fff;}
.c-nl-jr{background:#f00;}
/*åŸºç¡€æ ·å¼*/
.fl{float: left;}
.fr{float: right;}
.fn{float: none!important;}
.hide{display: none;}
.show{display: block;}
.inline-block{display: inline-block;}
.border{border: 1px solid #e5e5e5;}
.pointer{cursor: pointer;}
.title{font-size: 18px;font-weight: bold;line-height: 50px;}
.pdn{padding: 0;}
.mgn{margin: 0;}
.mgauto{margin: auto;}
.pd10{padding: 10px!important;}.pdt10{padding-top: 10px;}.pdb10{padding-bottom: 10px;}.pdl10{padding-left: 10px;}.pdr10{padding-right: 10px;}
.pd20{padding: 20px;}.pdt20{padding-top: 20px;}.pdb20{padding-bottom: 20px;}.pdl20{padding-left: 20px;}.pdr20{padding-right: 20px;}
.mg10{margin: 10px;}.mgt10{margin-top: 10px;}.mgb10{margin-bottom: 10px;}.mgl10{margin-left: 10px;}.mgr10{margin-right: 10px;}
.mg20{margin: 20px;}.mgt20{margin-top: 20px;}.mgb20{margin-bottom: 20px;}.mgl20{margin-left: 20px;}.mgr20{margin-right: 20px;}
.mgl130{margin-left: 130px;}
.pd1020{padding: 0 20px 0 20px;}
.wdauto{width: auto!important;}
.hgauto{height: auto!important;}
.wd60{width: 60px!important;}
.wd70{width: 70px!important;}
.wd80{width: 80px!important;}
.wd90{width: 90px!important;}
.wd100{width: 100px!important;}
.wd120{width: 120px!important;}
.wd150{width: 150px!important;}
.wd160{width: 160px!important;}
.wd500{width: 500px!important;}
.wd600{width: 600px!important;}
a:hover{transition: .6s;}
.border-bottom{border-bottom: 1px solid #e5e5e5;}
.line-height{line-height: 100%;}
.text-blue{color:#1e4a9f;}
.text-warm{color: #FFB800;}
.text-danger{color: #f00;}
.text-lblue{color:#1E9FFF;}
.ft18{font-size: 18px!important;}
.ft20{font-size: 20px!important;}
.fb{font-weight: bold;}
.tl{text-align: left;}
.tr{text-align: right;}
.tc{text-align: center;}
.ofxh{overflow-x: hidden!important;}
.ofh{overflow-x: hidden;}
.cln{clear: none;}
.zi9{z-index: 999999999;}
/*åŸºç¡€æ ·å¼*/
/*layuiæ ·å¼é‡å†™*/
.layui-btn-warm{background: #EC9924;}
.layui-btn-blue{background: #2A52B1;}
.layui-btn-normal{background: #37b0d5;}
.layui-body{position: relative;left: 0;}
.layui-badge-dot{margin-right: 10px;}
.layui-nav-tree .layui-nav-child dd.layui-this, 
.layui-nav-tree .layui-nav-child dd.layui-this a, 
.layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, 
.layui-nav-tree .layui-this>a:hover{background: #1D4A9E!important;color: #fff!important;}
.layui-tab-title .layui-this:after{height: 0;}
.layui-tab-title{border:none;}
.layui-nav-child{padding: 0!important;}
.layui-form-radio>i:hover, .layui-form-radioed>i{color: #2A52B1;}
.bottom-indicator p{float: left;height: 55px;line-height: 55px;display: block;}
.bottom-indicator #page-indicator{float: right;}
.layui-nav .layui-nav-child dd.layui-this a, .layui-nav-child dd.layui-this{background-color: #f5f5f5;color: #333;}
.layui-table img{max-width: 150px!important;}
/*layuiæ ·å¼é‡å†™*/
.todo .layui-nav-child{;border: none;padding: 5px 0!important;}
.todo .layui-nav-child dt{border-bottom:1px solid hsla(0,0%,100%,.3); padding: 0 10px;font-weight: bold;}
.todo .layui-nav-child dd{border-bottom:1px solid hsla(0,0%,100%,.3);padding: 5px 0;}
.todo .layui-nav-child a{line-height: 20px;width: 300px;padding:0 10px!important;}
.todo .layui-nav-child a:hover{background: none;}
.todo .layui-nav-child a p{color: #fff;overflow: hidden;}
.layui-elem-quote{padding:0 15px;border-left:5px solid #2A52B1;}
.layui-form-checked span, .layui-form-checked:hover span{background-color:#2A52B1;}
.layui-btn-grey{background: #e5e5e5;color: #666!important;}
.body .mainmenu a:hover{
    -moz-transform:scale(1.1); 
    -webkit-transform:scale(1.1); 
    -o-transform:scale(1.1); 
    transform:scale(1.1)
}
/**********å…¬å…±æ ·å¼**********/
.remark{font-size: 12px;color: #ccc;font-weight: normal;}
.layui-table[lay-skin=line] td, .layui-table[lay-skin=line] th{text-align: center;}
.layui-table td, .layui-table th{padding: 9px 10px;}
.layui-form-select dl dd.layui-this{background: #2A52B1;}
.layui-form-checked[lay-skin=primary] i{border-color: #2A52B1;background-color: #2A52B1;}
.layui-form-checkbox[lay-skin=primary]:hover i{border-color: #2A52B1;}
.layui-anim-upbit{z-index: 9999!important;}
.fa-map-marker{color: #666;}
.layui-form-item {margin-bottom: 10px!important;}
/*iframe å†…é¡µé¢åŒ…å±‘å¼€å§‹*/
.page-location{height: 54px;line-height: 54px;font-size: 16px;color: #666;}
.page-location i{margin-right: 10px;font-size: 18px;}
.page-location a{font-size: 16px;color: #666;}
/*iframe å†…é¡µé¢åŒ…å±‘ç»“æŸ*/
/*iframe å†…é¡µå¤´éƒ¨å·¥å…·æ¡å¼€å§‹*/
.top-toolbox .layui-form-label{width: auto;}
.top-toolbox .toolbox-left{float: left;}
.top-toolbox .toolbox-right{float: right;}
.top-toolbox .toolbox-left .layui-form .layui-form-item{float: left;clear: none;}
.top-toolbox .toolbox-right{text-align: center;}
/*iframe å†…é¡µå¤´éƒ¨å·¥å…·æ¡ç»“æŸ*/
/*iframe å†…é¡µæ»‘æ¡†å¼€å§‹*/
.slide .slide-title{height: 50px;line-height: 50px;}
.slide .slide-title h3{font-weight: bold;}
/*iframe å†…é¡µæ»‘æ¡†ç»“æŸ*/
.border-box{border:1px solid #e5e5e5;padding: 10px 15px;}
.border-box>dd>dl>dd{display: none;}
.border-box>dd>dl>dd>dl>dd{display:none;padding-left: 15px;}
.border-box dl dt{cursor: pointer;}
.border-box dl dt:hover{color: #1E4A9F;}
.border-box dl,.border-box dd{padding-left: 10px;}
/*å¼¹çª—å†…éƒ¨æ ‡é¢˜å¼€å§‹*/
.box-title{height: 54px;line-height: 54px;border-bottom: 1px solid #e5e5e5;}
.box-title h3{font-size: 18px;font-weight: bold;color: #000;}
.box-title a{color: #000;margin-right: 20px;font-size: 16px;}
.box-title a .fa{margin-left: 5px;}
.box-title a:hover{color: #1E4A9F;}
.box-body li{height: 54px;line-height: 54px;border-bottom: 1px solid #e5e5e5;}
.box-body .fl,.box-body .fr{width: 50%;}
.box-body span.key{display:inline-block;font-size: 16px;margin-right:40px;font-weight: bold;width: 100px;}
.box-body span.value{display:inline-block;}
/*å¼¹çª—å†…éƒ¨æ ‡é¢˜ç»“æŸ*/
/**********å…¬å…±æ ·å¼**********/
/*å¼¹å‡ºå±‚çš®è‚¤å¼€å§‹*/
body .blue-skin .layui-layer-title{background:#2A52B1; color:#fff;height: 44px;line-height: 44px;}
/*å¼¹å‡ºå±‚çš®è‚¤ç»“æŸ*/
/*ç™»é™†é¡µå¼€å§‹*/
.login-container .logo-container{height: 364px;background: url(../img/login_bg.png) no-repeat center;overflow: hidden;}
.login-container .logo-container .logo{width:652px;height:139px;margin: 112px auto;display: block;}
.login-container .login-box{width: 384px;margin: 40px auto;}
.login-container .login-box .layui-form-item:first-child{margin-bottom: 20px;}
.login-container .login-box .layui-form-item:nth-child(3){margin: 16px auto 30px;}
.login-container .login-box .layui-form-item:nth-child(4){margin-bottom: 70px;}
.login-container .login-box .layui-form-item:first-child{margin-bottom: 20px;}
.login-container .login-box .layui-form-label{width: 54px;height: 54px;padding: 0!important;border: none;}
.login-container .login-box .layui-form-pane .layui-input-block{margin-left: 54px;}
.login-container .login-box .layui-input-block input{height: 54px;}
.login-container .login-box .layui-form-pane .layui-form-checkbox{margin: 0;}
.login-container .login-box .layui-form-item .login-btn{width: 100%;font-size: 18px;height: 54px;line-height: 54px;}
.login-container .login-box .layui-form-checked[lay-skin=primary] i{border-color: #2A52B1;background-color: #2A52B1;}
.login-container .login-box .forget-btn{color: #1e4a9f;cursor: pointer;}
.login-container .login-box .layui-form-item p{font-size: 16px;color: #999;text-align: center;}
#resetpwd-box form{padding: 20px 50px 30px 0;}
#resetpwd-box .layui-form-label{width: 100px;}
#resetpwd-box .layui-input-block{margin-left: 130px;}
#resetpwd-box form .layui-form-label{padding: 9px 10px 9px 20px;font-size: 16px;color: #666;}
/*ç™»é™†é¡µç»“æŸ*/
/*ä¸»é¡µå¼€å§‹*/
.header{position: absolute;top: 0;left: 0;width: 100%;height: 68px;line-height:68px;}
.body{position:absolute;top: 68px;left: 0;width: 100%;}
.header .header-title{float: left;}
.header .header-title h1,.header .header-title h5{float: left;}
.header .header-title h1{margin: 0 20px 0 10px;}
.header .layui-nav{float: right;padding: 0}
.header .layui-nav .layui-nav-item{line-height: 68px;}
.header .layui-nav .layui-nav-item a{padding:0 25px;}
.body .mainmenu{float: left;height: 100%;}
.body .submenu{float: left;overflow-y:auto;height: 100%;}
.body .layui-body {height: 100%;overflow-y: hidden;}
.layui-body iframe{width: 100%;height: 100%;border: 0;overflow-y: hidden;}
.body .mainmenu li a{width: 80px;height: 80px;display: block;text-align: center;color: #fff;}
.body .mainmenu a img{margin: 20px 0 6px;}
.body .mainmenu a h6{font-size: 14px;line-height: 14px;}
.body .submenu .layui-side-scroll{overflow-y: hidden;}
.body .submenu .layui-side{position: relative;display: none;}
.body .submenu .layui-nav-child dd a{height: 38px!important;line-height: 38px!important;}
.body .submenu .layui-nav-tree .layui-nav-item a{padding: 0 20px 0 30px;height: 44px;line-height: 44px;}
.body .submenu .layui-nav-tree .layui-nav-item>a{height: 44px;font-size: 16px;}
.body .submenu .layui-nav-tree .layui-nav-item>a .layui-icon-triangle-r{font-size: 20px;margin-right: 5px;}
.body .submenu .layui-nav-tree .layui-nav-item dd a{padding-left:55px ;}
.body .submenu .layui-nav .layui-nav-mored,.body .submenu .layui-nav-itemed>a .layui-nav-more,.body .submenu .layui-nav-tree .layui-nav-more{display: none;}
.body .submenu .layui-nav-item>a .fa{margin-left: 40px;}
.body .submenu .layui-nav .layui-this>a{color: #fff!important;}
/*ä¸»é¡µç»“æŸ*/
/*dashboard start*/
.dashboard .layui-card-header{height: 44px;line-height: 44px;}
.dashboard .layui-card-header .title{float: left;font-size: 18px;}
.dashboard .layui-card-header .oper{float: right;font-size: 16px;}
.dashboard .fl,.dashboard .fr{padding: 10px 10px 0 10px;}
.dashboard .fl .functions .layui-card-body ul li{float: left;width: 188px;height: 102px;}
.dashboard .fl .functions .layui-card-body ul li img,.dashboard .functions .layui-card-body ul li h3{float: left;}
.dashboard .fl .functions .layui-card-body ul li h3{margin-left: 30px;line-height: 38px;font-size: 18px;font-weight: bold;}
.dashboard .fl .functions .layui-card-body ul li p{line-height:50px ;text-align: center;font-weight: bold;}
.dashboard .fl .tasklist .layui-tab{margin: 20px auto;}
.dashboard .fl .tasklist .layui-tab-content{padding-bottom: 20px;}
.dashboard .fl .tasklist .layui-tab-content li a{height: 54px;line-height: 54px;display: block;}
.dashboard .fl .tasklist .layui-tab-content li a .title{font-size: 16px;padding-left: 20px;font-weight: normal;}
.dashboard .fl .tasklist .layui-tab-content li a .status{float: right;margin-right: 30px;}
.dashboard .fl .tasklist .layui-tab-content li a .status .fa-envelope{color: #f00;}
.dashboard .fl .tasklist .layui-tab-content li a .status .fa-envelope-open{color: #37b0d5;}
.dashboard .fl .friendlink .layui-card-body{font-size: 16px;padding: 20px 15px;}
.dashboard .fl .friendlink a{margin-right: 40px;display: inline-block;height: 30px;line-height: 30px;}
.dashboard .fr .datetime{width: 100%;height: 76px;}
.datetime span{display: block;text-align: center;}
.datetime .date{float: left;font-size: 16px;}
.datetime .date .top{height: 36px;line-height: 45px;}
.datetime .date .bottom{height: 40px;}
.datetime .date .bottom strong{font-size: 30px;}
.datetime .time{float: left;line-height: 76px;font-size: 30px;}
.atte-duty-register .datetime{height: 74px;}
.dashboard .fr .userinfo{width: 100%;margin: 20px 0;}
.dashboard .fr .userinfo .layui-card-body{padding: 20px 15px;}
.dashboard .fr .userinfo .userphoto{float: left;}
.dashboard .fr .userinfo .userphoto img{width: 100px;height: 100px;border-radius: 6px;}
.dashboard .fr .userinfo .userdetails{float: left;}
.dashboard .fr .userinfo .userdetails li{height: 35px;line-height: 40px;}
.dashboard .fr .userinfo .userdetails li .name{padding: 0 30px 0 20px;font-size: 18px;}
.dashboard .fr .userinfo .userdetails li .cont{font-size: 16px;}
.dashboard .fr .userinfo .userdetails li button{width: 80px;height: 30px;line-height: 30px;border-radius: 5px;}
.dashboard .fr .userinfo .userdetails li button:first-child{margin-right: 40px!important;}
.dashboard .fr .useratte .layui-badge{width: 12px;height: 12px;padding: 0;margin-right: 5px;}
.dashboard .fr .useratte .layui-card-body li{height: 30px;line-height: 30px;}
.dashboard .fr .useratte .layui-card-body li .name{font-size: 16px;}
/*dashboard end*/
/*coop-addressbook start*/
.coop-addressbook .personal-addressbook .slide-body .addfriend{display: inline-block;text-align: right;width: 100%;padding: 10px 5px;}
.coop-addressbook .personal-addressbook .slide-body .addgroup{display: inline-block;}
.coop-addressbook .cont>.fl{width: 25%;}
.coop-addressbook .cont>.fr{width: 70%;margin-top: 52px;}
/*coop-addressbook end*/
/*æ–‡æ¡£ç±»åž‹ç®¡ç†start*/
.offi-docs-cate .cont .fl dl {height: 300px;}
.offi-docs-cate .cont .fl dt,.offi-docs-cate .cont .fl dd{line-height:30px ;}
.offi-docs-cate .cont .fl dt{padding-left: 20px;}
.offi-docs-cate .cont .fl dd{padding-left: 40px;}
.offi-docs-cate .cont .fl dd img{margin-left: 80px;cursor: pointer;}
.offi-docs-cate .cont .fl dd:hover{background: #f5f5f5;transition: .6s;}
.offi-docs-cate .cont .fl dd:hover img{display: inline-block;}
.offi-docs-cate .cont .fl dt:before{content: 'â–¼';padding-right: 7px;}
.offi-docs-cate .cont .fl dd.special img.del-img,.offi-docs-cate .cont .fl dd.special img.edit-img{margin-left: 5px;}
/*æ–‡æ¡£ç±»åž‹ç®¡ç†end*/
/*ä¼šè®®ç®¡ç†*/
/*åŠæ—¶é€šè®¯start*/
.contacts-panel{padding: 10px;background: #f5f5f5;box-shadow: 2px 2px 30px #ddd;border-radius: 5px}
.contacts-panel .user-dd{padding: 5px 0;}
.contacts-panel .user-dd:hover {background: #f5f5f5;cursor: pointer;transition: .3s;}
.contacts-panel .user-dd img{width: 30px;height: 30px;border-radius: 50%;}
.chat{background: #f5f5f5;box-shadow: 2px 2px 30px #ddd;border-radius: 5px;overflow: hidden;}
.chat .layui-col-md3{width: 25%;}
.chat .chat-title{height: 60px;line-height: 60px;
                  text-align: center;background: #47b0fc;font-size: 18px;font-weight: bold;color: #fff;}
.chat .chat-main{border-left: 1px solid #fff;}

.chat .contacts.layui-nav{height:450px;overflow-y: auto;background: none;}
.chat .contacts.layui-nav .layui-nav-item img{border-radius: 50%;width: 30px;height: 30px;}
.chat .contacts.layui-nav .layui-nav-item img:first-child{margin-right: 15px;}
.chat .contacts.layui-nav .layui-nav-item .name{color: #333;font-weight: bold;}

.chat .close-btn {font-size: 25px;color: #ccc;float: right;display: none;}
.chat .contacts.layui-nav .layui-this .name{color: #fff;}
.chat .contacts.layui-nav .layui-nav-item .del{margin-top: 11.5px;}
.chat .contacts.layui-nav-tree .layui-nav-item a:hover{background: #f5f5f5;}
.chat .contacts.layui-nav .layui-nav-bar{background: #2A52B1;}
.chat .chat-box{height: 300px;overflow-y: auto;padding: 0 10px;}
.chat .chat-box li{margin: 10px 0;}
.chat .chat-box li img{width: 39px;height: 39px;border-radius: 50%;}
.chat .chat-box .other img,.chat .chat-box .other p{float: left;}
.chat .chat-box .myself p,.chat .chat-box .myself img{float: right;}
.chat .chat-box .other img{margin-right: 15px;}
.chat .chat-box .myself img{margin-left: 15px;}
.chat .chat-box p{padding: 10px;background: #fff;border-radius: 5px;position: relative;max-width: 500px;}
.chat .chat-box .other p:before{position: absolute;content: "";width: 0;height: 0;right: 100%;top: 13px;
                                border-top: 8px solid transparent;border-right: 10px solid #f5f5f5;border-bottom: 8px solid transparent;}
.chat .chat-box .myself p{background: #4cb0fc;color:#fff;}
.chat .chat-box .myself p:after{position: absolute;content: "";width: 0;height: 0;left: 100%;top: 13px;
                                border-top: 8px solid transparent;border-left: 10px solid #4cb0fc;border-bottom: 8px solid transparent;}
.chat .chat-main .layui-form{padding: 5px 10px;}
.chat .chat-main .layui-form .layui-form-item{margin-bottom: 0;}
.chat .chat-main .layui-form .layui-form-item:first-child{margin-bottom: 5px;}
.chat .chat-main .layui-form .layui-form-item:first-child .layui-input-block{margin-left: 0;}
.chat .chat-main .layui-form .fr .layui-input-inline{text-align: right;}
.chat .layui-form-item .layui-input-inline{margin-right: 0;}
.contacts .layui-nav-item:hover .close-btn {display: block;}
/*æ»šåŠ¨æ¡ start*/
.chat-box::-webkit-scrollbar {width: 10px;height: 4px;background-color: #F5F5F5;}
/*å®šä¹‰æ»šåŠ¨æ¡è½¨é“ å†…é˜´å½±+åœ†è§’*/
.chat-box::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);background: #fff ;}
/*å®šä¹‰æ»‘å— å†…é˜´å½±+åœ†è§’*/
.chat-box::-webkit-scrollbar-thumb {border-radius: 3px;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);background-color:rgba(51, 103, 214, 0.7);}
.chat-box::-webkit-scrollbar-thumb:hover {border-radius: 3px;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);background-color:rgba(7, 170, 247, 1);}
/*åŠæ—¶é€šè®¯end*/

/*èŠå¤©å®¤*/
.coop-chattingroom .cont .layui-card-body{text-align: center;}
.coop-chattingroom .layui-form-item .layui-input-inline{width: auto;}
.coop-chattingroom .layui-form-switch{margin-top: 0;}
.coop-chattingroom .layui-form-onswitch{border-color:#FFB800;background-color:#FFB800;}
.coop-chattingroom .layui-card{box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 10px 0px;}

/*å…¬å‘Šé€šçŸ¥ç®¡ç†*/
.info-notice-manage .layui-form-switch{margin-top: 0;}
.info-notice-manage .layui-form-onswitch{border-color:#FFB800;background-color:#FFB800;}
/*å…¬å‘Šé€šçŸ¥å®¡æ‰¹*/
.coop-notice-verify .layui-form-switch{margin-top: 0;}
.coop-notice-verify .layui-form-onswitch{border-color:#FFB800;background-color:#FFB800;}

/*è®ºå›é¦–é¡µ*/
.info-forum .forum-header .layui-nav{background: #fff;color: #000;padding: 0;}
.info-forum .forum-header .fr .layui-input-inline{margin-top: 11px;position: relative;}
.info-forum .forum-header .fr .layui-input-inline .layui-btn{position: absolute;right: 0;top: 0;}
.info-forum .forum-header .layui-nav a{color: #000;}
.info-forum .forum-header .layui-nav .layui-nav-bar{display: none;}
.info-forum .forum-header ul>li:first-child>a{font-size: 18px;font-weight: bold;}
.info-forum .forum-body .forum-body-left a img{width: 250px!important;height: 318px!important;}
.info-forum .forum-body .forum-body-center .layui-tab{margin: 0;}
.info-forum .forum-body .forum-body-center .layui-tab-title .layui-this{background: #f5f5f5;}
.info-forum .forum-body .forum-body-center .layui-tab .layui-tab-content{padding: 0;}
.info-forum .forum-body .forum-body-center .layui-tab .layui-tab-content ul li{height: 54px;line-height: 54px;font-size: 16px;}
.info-forum .forum-body .forum-body-center .layui-tab .layui-tab-content ul li .post-cate{color: #ec9927;float: left;letter-spacing: 1px;}
.info-forum .forum-body .forum-body-center .layui-tab .layui-tab-content ul li .post-title{float: left;margin-left: 10px;}
.info-forum .forum-body .forum-body-center .layui-tab .layui-tab-content ul li .post-author{color: #1E4A9F;float: right;}
.info-forum .forum-body .forum-body-right dt{height: 40px;line-height: 40px;font-size: 16px;}
.info-forum .forum-body .forum-body-right dd{height: 54px;line-height: 54px;}
.info-forum .forum-body .forum-body-right dd .layui-badge{margin-right: 10px;}
.info-forum .forum-footer .layui-card-header{height: 54px;line-height: 54px;font-weight: bold;font-size: 16px;border-bottom:none;}
.info-forum .forum-footer .layui-card-body>h3{text-align: center;}
.info-forum .forum-footer .layui-card-body>h3 a{text-align: center;font-size: 16px;font-weight: bold;color: #37b0d5;}
.info-forum .forum-footer .layui-card-body>p{text-align: center;color: #999;}
.info-forum .forum-footer .layui-card-body li{height: 54px;line-height: 54px;font-size: 16px;color: #1E4A9F;}
.info-forum .forum-footer>div:first-child .layui-card-body>h3 a{color: #EC9927;}
.info-forum .forum-footer span.post-title{float: left;color: #1E4A9F;} 
.info-forum .forum-footer span.post-author{float: right;font-size: 12px;color:#ccc;} 

.syst-data-init .content form{width: 500px;margin:50px auto;}
.channel-list a  h2{height: 40px;line-height: 40px;}
.channel-list a  p{color: #ccc}
.channel-list a  div{height: 30px;}
.article-list .list-item{margin:10px 0;display: block;background: #f5f5f5;padding: 15px;}
.article-list .list-item:hover{box-shadow: 0 0 2px rgba(0,0,0,0.2);}
.article-list .list-item .item-header h2{color: #393939;font-size: 20px;font-weight: bold;line-height: 30px;float: left;margin-right: 10px}
.article-list .list-item .item-header span{height: 30px;line-height: 30px;margin-right: 10px;float: left;}
.article-list .list-item .item-footer{margin-top: 10px;line-height: 25px;}
.article-list .list-item .item-footer .fr img{width: 25px;height: 25x;border-radius: 50%;}
.article .article-title{font-size: 30px;line-height: 1.2;color: #393939;font-weight: bold;text-align: center;position:relative;}
.article .article-title span{}
.article .article-info{text-align: right;margin-bottom: 20px;}
.article .article-info span{color: #ccc;margin-left:10px;font-size: 15px;}
.article .article-info span.layui-badge{color: #fff;}
.forum-article-bottom{margin-top: 50px;}
.forum-article-bottom .layui-form .layui-input-block{margin-left:0;}
.comment-list li img{width: 40px;height: 40px;float: left;border-radius: 50%;}
.comment-list li{margin: 10px 0;}
.comment-list li .comment-body{margin-left: 50px;} 
.comment-list li .comment-main{display: inline-block;padding: 10px 15px;background: #f7f7f7;border-radius: 20px;font-size: 14px; color: #393939;}
.comment-list li .comment-main h4 {font-weight: bold;font-size: 14px;color: #393939;margin-bottom: 10px;}
.comment-list li .comment-body h5{font-size: 12px;color: #bbb;font-weight: normal;margin: 8px 0 0 15px;}
/*çš®è‚¤æ ·å¼*/
.blue:hover a{background: #2A52B1!important;color: #fff!important;}
.black:hover a{background: #181b2a!important;color: #fff!important;}
/*ç»å…¸è“*/
.blue-circle{display: inline-block;width: 25px;height: 25px;border-radius: 50%;background: #2A52B1;}
.blue-skin-bg-blue{background: #2A52B1;color: #fff;}
.blue-skin-bg-dblue{background: #1e4a9f;color: #fff;}
.blue-skin-bg-box{background: #fff;color: #333;}
.blue-skin-body{background: #f5f5f5;color: #333;}
.blue-skin-bg-blue .menu-item{background: #1e4a9f;color: #fff;}
.blue-skin-bg-blue .layui-nav-bar{background: #1e4a9f;}
.blue-skin-bg-box .layui-tab-brief>.layui-tab-title .layui-this{color: #333;}
.blue-skin-bg-box .layui-tab-brief>.layui-tab-more li.layui-this:after, 
.blue-skin-bg-box .layui-tab-brief>.layui-tab-title .layui-this:after{border-bottom:4px solid #2A52B1;}
.blue-skin-bg-box .border-bottom{border-bottom: 1px solid #f6f6f6;}
.submenu-blue {background: #f5f5f5;}
.submenu-blue .layui-nav{background: #f5f5f5;}
.submenu-blue .layui-nav-tree .layui-nav-item a:hover{background: #2A52B1;color: #fff!important;}
.submenu-blue .layui-nav .layui-nav-bar{background: #2A52B1;}
.submenu-blue .layui-nav-itemed>.layui-nav-child{background: none!important;}
.submenu-blue .layui-nav-tree .layui-nav-item a,.submenu-blue .layui-nav-tree .layui-nav-item>a{color: #333!important;}
/*æ›œçŸ³é»‘*/
.black-skin-bg-black{background: #181b2a;color: #fff;}
.black-skin-bg-lblack{background: #262A42;color: #fff;}
.black-skin-bg-box{background: #181b2a;color: #fff;}
.black-skin-body{background: #262A42;}
.black-skin-bg-black .menu-item{background: #262A49;color: #fff;}
.black-skin-bg-black .layui-nav-bar{background: #262A42;}
.black-skin-bg-box .layui-tab-brief>.layui-tab-more li.layui-this:after, 
.black-skin-bg-box .layui-tab-brief>.layui-tab-title .layui-this:after{border-bottom:4px solid #4e5b85;}
.black-skin-bg-box .border-bottom{border-bottom: 1px solid #262A42;}
.black-skin-bg-box .layui-card{background: #181b2a;color: #fff;}
.black-skin-bg-box .layui-card-header,.black-skin-bg-box .layui-card-header a{color: #fff}
.black-skin-bg-box .layui-card-body a{color: #fff}
.black-skin-bg-box .layui-tab-brief>.layui-tab-title .layui-this{color: #fff;}
.black-skin-bg-box .layui-tab-content a{color: #fff;}
.submenu-black {background: #181b2a;}
.submenu-black .layui-nav{background: #181b2a;}
.submenu-black .layui-nav-tree .layui-nav-item a:hover{background: #262A42;color: #fff!important;}
.submenu-black .layui-nav .layui-nav-bar{background: #262A42;}
.submenu-black .layui-nav-itemed>.layui-nav-child{background: none!important;}
.submenu-black .layui-nav-tree .layui-nav-item a
,.submenu-black .layui-nav-tree .layui-nav-item>a{color: #c7cce6!important;}
.submenu-black .layui-nav .layui-this>a{color: #fff!important;}
.submenu-black .layui-nav-tree .layui-nav-child dd.layui-this{background: #262A42!important;}
.submenu-black .layui-nav-tree .layui-this{background: #262A42!important;}
.black-skin-body .page-location,
.black-skin-body .page-location i,
.black-skin-body .page-location a,
.black-skin-body .page-location span,
.black-skin-body .page-location cite
{color: #fff!important;}
.black-skin-body .skin-box .layui-form-label{color: #fff;}
.black-skin-body .skin-item {color: #fff;}
.black-skin-body .bottom-indicator{color: #fff;}
.sign-bill{color: #f00;text-align: center}
.sign-bill h1{font-weight: bold; }
.sign-bill td{color: #f00;font-weight: bold;font-size: 16px!important;}
.upload-td:hover .upload-btn{display: block;}
/*å°ç« */
.seal-box{position: relative;}
.seal-box .remark,.seal-box .seal-pic,.seal-box .time{float: left;margin-right: 5px;}
.seal-box .remark{color: #f00;font-size: 16px;font-weight: bold}
.seal-box .remark,.seal-box .time{line-height: 150px;}
.seal-box .bottom-time{position: absolute;bottom: 0;left:0;display: block;width: 100%;text-align: center;font-weight: bold;font-size: 18px;}
.seal-box .seal-pic{position: relative;width: 150px;height: 150px;overflow: hidden;}
.seal-box .seal-pic .remove-seal{position: absolute;right: 0;top: 0;cursor: pointer;}
.seal-box .seal-pic img{width: 150px;height: 150px;}
.seal-box .layui-icon-close-fill{position: absolute;right: 0;top: 0;cursor: pointer;color: #000;display: none;}
.seal-box .seal-pic:hover .layui-icon-close-fill{display: block;}
.seal-box .seal-pic:hover .layui-icon-close{display: block;}
.hide .doc-title{height: 50px;line-height: 50px;}
.stamp-box{float: right;}
.page-header{padding: 20px 0;}
.page-header .security-id,.page-header .level-id{line-height: 30px;font-size: 20px;font-weight: bold;color: #000;}
.page-title{font-size: 70px;text-align: center;font-weight: bold;color: #f00;}
.page-author{padding:20px 0;border-bottom: 5px solid #000;}
.page-author .page-doc-no,.page-author .page-sign{font-size: 20px;font-weight: bold;}
.page-doc-title{font-size: 40px;text-align: center;padding:35px 0;font-weight: bold;color: #000;}
.page-footer{padding:10px 0;border-bottom: 5px solid #000;
             border-top: 5px solid #000;margin-top: 20px;font-weight: bold;line-height: 30px;font-size: 20px;color: #000;}
.template-item .fa-file-text-o,.level-item .fa-exclamation-triangle{font-size: 80px!important;cursor: pointer;}
.layui-tab-content{background: #fff;}
.click{background: #2A52B1;}
.click i{color: #fff;}
.click p{color: #fff;}
.item{float:left;cursor:pointer;}
.item .fl{width: 80px;position: relative;height: 100px;}
.item .fl span{display: block;text-align: center}
.item .fl span i{font-size: 40px;color: #2A52B1;}
.item .node-name,.item .attr-name{height: 30px;line-height: 30px}
.item .fl:hover{background: #f5f5f5;box-shadow: 1px 5px 5px rgba(0,0,255,.5);}
.item .fl ul{display: none;position: absolute;top: 100px;left: 0;width: 80px;
             background: #f5f5f5;box-shadow: 1px 5px 5px rgba(0,0,255,.5);z-index: 999;}
.item .fl ul li{text-align: center;padding:5px 0;}
.item .fl:hover ul{display: block;}
.item .fl ul li:hover{background: #2A52B1;color: #fff;}
.item .fr .node-line{float: left;}
.item .fr .node-line i{font-size: 30px;margin-top: 35px;}
.end{display: block;width: 40px;height: 40px;font-style: normal;background: #2A52B1;font-size: 18px!important;color: #fff!important;line-height: 40px;margin: auto;border-radius: 50%;}
.del-block{cursor: pointer;}
.del-block .layui-icon{font-size:20px;line-height: 42px;display: none;margin: 0 5px;}
.del-block:hover .layui-icon{display: block;}
.third-menu .layui-nav-tree{width: 100%;}
.third-menu .layui-nav{background: #f5f5f5;}
.third-menu .layui-nav-item a{color: #000;}
.third-menu .layui-nav-tree .layui-nav-item a:hover{background: #2A52B1!important;color: #fff!important;}
.third-menu .layui-nav-tree .layui-nav-bar{background: #1D4A9E;}
.add-file-box{border:1px solid #ccc;border-radius:20px;text-align: center;}
.add-file-box #uploader-content{font-size: 100px;margin: 100px 0;color: #2A52B1;cursor: pointer;}
.file-container{position: relative;}
.file-close{position: absolute;top:-30px;right: 0;color: #2A52B1;font-size: 30px;}
.dashboard .layui-tab-content{background: none;}


