@media screen and ( max-width: 600px){
    .layui-layout-admin .c-header{
        background-color: #2a52b1;
    }
    .layui-layout-admin .layui-logo{
        width:120px;
    }
    .layui-layout-admin .c-header .head-line-1{
        display: none;
    }
    .layui-layout-admin .c-header{
        
    }
    .layui-layout-admin .c-header .logo-ps{
        display: none;
    }
    .layui-layout-admin .c-logo{
        font-size:16px;
    }
    .layui-layout-admin .layui-side{
        transition: all 0.5s;
        width:0;
    }
    .layui-layout-admin .layui-body{
        top:0;
        left:0;
    }
    .layui-body .main-tab-box-1{
        margin-top:30px;
        height:auto;
    }
    .layui-body .tab-item-3-right{
        position:static;
        top:30px;
    }
    .layui-body .tab-item-3-right button{
        width:100%;
    }
    .main-tab-box-1 .tab-item{
        box-sizing: border-box;
        width:100%;
        margin-right: 5px;
        border-radius: 4px;
        font-size:12px;
        margin-bottom:15px;
    }
    .main-tab-box-1 .tab-item-right{
        float:none;
        margin-top:10px;
        text-align: center;
    }
    .main-tab-box-1 .tab-item-right button{
        margin:5px 0;
    }
    .main-tab-box-1 div label{
        display: inline-block;
        width:100%;
        text-align: center;
    }
    .main-tab-box-1 div input{
        width:100%;
    }
    .main-tab-box-1 div button{
        width:100%;
    }
    .main-tab-box-1 div select{
        width:100%;
        margin:0;
    }
    .main-box{
        margin-top:0px;
    }
    .layui-layout-admin .layui-header .layui-nav{
        transition: all 1s;
    }
    .layui-layout-admin .layui-header .layui-nav img{
        width:30px;
        height:30px;
    }
    .layui-nav .layui-nav-item-close{
        width:30px;
        height:30px;
       
    }
    .layui-nav-item .icon-close{
        top:-8px;
    }
    .layui-nav .layui-nav-item .username{
        font-size:0;
    }
    .layui-body .main-box{
        margin:50px auto;
        min-width:320px;
    }
    .layui-body .main-box table tr td{
        font-size:10px;
        min-width:90px;
    }
    .layui-body  .main-box{
        width:100%;
        overflow: auto;
        margin:50px auto;
    }
    .layui-body .main-tab-box-2{
        box-sizing: border-box;
        height:auto;
        margin-bottom:10px;
        margin:0 auto;
        margin-top:10px;
        padding:0 10px;
    }
    .layui-body .main-tab-box-2 .tab-box-2-item{
        width:95.5%;
        font-size:10px;
        margin:5px auto;
    }
    .layui-layout-admin .layui-logo{
        left:40px;
    }
    .layui-header .icon-menu{
        display: inline-block;
        width:35px;
        height:35px;
        background-image:url(../imgs/menu.png);
        background-size:100% 100%;
        background-repeat: no-repeat;
        margin:12px 5px;
        cursor: pointer;
    }
    .main-box  .chart-box{
        width:100%;
    }
    .main-box  .chart-box div{
        width:100%
    }
    .main-nav-1{
        height:auto;
    }
    .main-nav-1 span,.main-nav-1 label{
        display: inline-block;
        margin-bottom:10px;
    }
    .main-nav-1 input[type='text']{
        width:96%;
        margin-bottom:10px;
    }
}