{extend name="layout" /}
{block name="body"}

<div class="layui-fluid">
    <div class="mgt10 mgb10">
        <div class="text-right">
            <a href="/task/create"><button class="layui-btn layui-btn-normal layui-btn-sm">发布任务</button></a>
        </div>
        <table class="layui-table table">
            <colgroup>
                <col width="10%">
                <col width="30%">
                <col width="13%">
                <col width="10%">
                <col width="10%">
                <col width="13%">
                <col width="14%">
            </colgroup>
            <thead>
            <tr>
                <th>类型</th>
                <th>标题</th>
                <th>指派给</th>
                <th>预计工时</th>
                <th>状态</th>
                <th>创建者</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {foreach name="tasks" item="vo"}
            <tr>
                <td>
                    {$vo.type_txt}
                </td>
                <td>
                    {$vo.title}
                </td>
                <td>{$vo.user_txt}</td>
                <td>{$vo.expected_hours}</td>
                <td>{$vo.status_txt}</td>
                <td>{$vo.created_by_user_txt}</td>
                <td>
                    {if condition="$user_id == 1 || $user_id == $vo.user_id"}
                        <a href="/task/{$vo.id}/edit" data-id="{$vo.id}" class="editBtn">{$vo.status == 2 ? '查看' : '处理'}</a>
                    {/if}
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>


    </div>

</div>

{/block}

