{extend name="layout" /}
{block name="body"}

<div class="layui-fluid">
    <form method="POST" action="/group/{$group.id}" id="add-group-form" class="layui-form" lay-filter="add-group">
        <input type="hidden" name="_method" value="put">
        <div class="pd10">
            <h3 class="mgb10">编辑团队</h3>
            <div class="layui-form-item">
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label"><em>*</em> 团队名：</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" id="name" placeholder="请输入用户名" value="{$group.name}" autocomplete="off" class="layui-input" lay-verify="required">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">团队成员：</label>
                    <div class="layui-input-block">
                        {foreach name="users" item="vo"}
                            <input type="checkbox" name="users[]" value="{$vo.id}" {:in_array($vo.id, $user_has_groups) ? 'checked="checked"' : ''} lay-skin="primary" title="{$vo.name}">
                        {/foreach}

                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block pull-right">
                    <button class="layui-btn btn-primary btn-sm" lay-submit lay-filter="*">保存</button>
                    <a href="/group" class="layui-btn layui-btn-primary btn-sm">返回</a>
                </div>
            </div>
        </div>

    </form>

</div>

{/block}


{block name="js"}
{/block}