{extend name="layout" /}
{block name="body"}

<div class="layui-fluid">
    <div class="mgt10 mgb10">
        <div class="text-right">
            <a href="/group/create"><button class="layui-btn layui-btn-normal layui-btn-sm">新增</button></a>
        </div>
        <table class="layui-table table">
            <colgroup>
                <col width="20%">
                <col width="20%">
                <col width="60%">
            </colgroup>
            <thead>
            <tr>
                <th>团队名</th>
                <th>创建者</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            {foreach name="groups" item="vo"}
            <tr>

                <td class="opt-td">
                    {$vo.name}
                </td>
                <td>{$vo.created_user_txt}</td>
                <td class='opt-td'>
                    <a href="/group/{$vo.id}/edit" data-id="{$vo.id}" class="editBtn">编辑</a>
                    <a href="javascript:;" data-id="{$vo.id}" data-url="/group/{$vo.id}" class="deleteBtn">删除</a>
                </td>
            </tr>
            {/foreach}

            </tbody>
        </table>

        <div class='table-bottom-box clearfix'>
            <div class='total-count p-l'>
                <span>共{$groups->total()}条记录</span>
            </div>
            <!-- 此处放分页 -->
            <div class='page-box p-r'>
                {$groups->render()}
            </div>
        </div>
    </div>

</div>

{/block}
