{extend name="layout" /}
{block name="body"}

<div class="layui-fluid">
    <form method="POST" action="/task" id="add-task-form" class="layui-form" lay-filter="add-task">
        <div class="pd10">
            <h3 class="mgb10">发布任务</h3>
            <div class="layui-form-item">
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">类型：</label>
                    <div class="layui-input-block">
                        <select name="type">
                            <option value=""></option>
                            {foreach name="task_types" key="k" item="vo"}
                            <option value="{$k}">{$vo}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label"><em>*</em> 标题：</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" id="title" placeholder="请输入问题标题" autocomplete="off" class="layui-input" lay-verify="required">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label"><em>*</em> 描述：</label>
                    <div class="layui-input-block">
                        <textarea id="desc" name="desc" lay-verify="content"></textarea>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label"><em>*</em> 指派给：</label>
                    <div class="layui-input-block">
                        <select name="user_id">
                            <option value=""></option>
                            {foreach name="users" item="vo"}
                                <option value="{$vo.id}">{$vo.name}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">预计工时：</label>
                    <div class="layui-input-block">
                        <input type="text" id="expected_hours" name="expected_hours" placeholder="请输入预计的工时" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">日程规划：</label>
                    <div class="layui-input-block">
                        <input type="text" id="expected_date" name="expected_date" placeholder="开始时间-结束时间" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block pull-right">
                    <button class="layui-btn btn-primary btn-sm" lay-submit lay-filter="*">保存</button>
                    <a href="/task" class="layui-btn layui-btn-primary btn-sm">返回</a>
                </div>
            </div>
        </div>

    </form>

</div>

{/block}


{block name="js"}
<script src="__STATIC__/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    CKEDITOR.replace( 'desc' ,{ //由于是demo， 上传url就不单独重写了
            filebrowserBrowseUrl:'__PUBLIC__/ckfinder/ckfinder.html',//设置上传图片的页面为ckfinder.html
            filebrowserImageBrowseUrl:'__PUBLIC__/ckfinder/ckfinder.html?type=Images',
            filebrowserFlashBrowseUrl: '__PUBLIC__/ckfinder/ckfinder.html?type=Flash',
            filebrowserUploadUrl: '__PUBLIC__/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
            filebrowserImageUploadUrl: '__PUBLIC__/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images',
            filebrowserFlashUploadUrl: '__PUBLIC__/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Flash',
            height:200
        }
    );

    $(function () {
        layui.use('laydate', function () {
            var laydate = layui.laydate;
            //日历组件
            laydate.render({
                elem: '#expected_date', //指定元素
                range: true
            });
        });
    })
</script>
{/block}