{extend name="layout" /}
{block name="body"}

<div class="layui-fluid">
    <form method="POST" action="/task/{$task.id}" id="add-task-form" class="layui-form" lay-filter="add-task">
        <input type="hidden" name="_method" value="put">
        <div class="pd10">
            <h3 class="mgb10">任务内容</h3>
            <div class="layui-form-item">
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">类型：</label>
                    <div class="layui-input-block">
                        <span class="form-input-text layui-elip">{$task_types[$task.type]}</span>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">标题：</label>
                    <div class="layui-input-block">
                        <span class="form-input-text layui-elip">{$task.title}</span>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">描述：</label>
                    <div class="layui-input-block">
                        <span class="form-input-text layui-elip">{$task.desc}</span>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label"><em>*</em> 指派给：</label>
                    <div class="layui-input-block">
                        <span class="form-input-text layui-elip">{$task->user()->name}</span>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">预计工时：</label>
                    <div class="layui-input-block">
                        <span class="form-input-text layui-elip">{$task.expected_hours}</span>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">日程规划：</label>
                    <div class="layui-input-block">
                        <span class="form-input-text layui-elip">{$task.expected_date}</span>
                    </div>
                </div>
            </div>
            {if condition="!empty($task_replys)"}
            <hr>
            <h3 class="mgb10">处理结果</h3>
            {foreach name="task_replys" key="k" item="vo"}
                <div class="layui-form-item" style="border: 1px solid #ccc">
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">解决方案：</label>
                        <div class="layui-input-block">
                            <span class="form-input-text layui-elip">{$task_reply_types[$vo.resolution]}</span>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">备注：</label>
                        <div class="layui-input-block">
                            <span class="form-input-text layui-elip">{$vo.content}</span>
                        </div>
                    </div>

                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">提交用户：</label>
                        <div class="layui-input-block">
                            <span class="form-input-text layui-elip">{$vo->user()->name}</span>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">实际耗时：</label>
                        <div class="layui-input-block">
                            <span class="form-input-text layui-elip">{$vo.actual_hours}</span>
                        </div>
                    </div>

                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">解决日期：</label>
                        <div class="layui-input-block">
                            <span class="form-input-text layui-elip">{$vo.resolution_date}</span>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">提交时间：</label>
                        <div class="layui-input-block">
                            <span class="form-input-text layui-elip">{$vo.create_time}</span>
                        </div>
                    </div>
                </div>
            {/foreach}
            {/if}
            {if condition="$task.status != 2"}
            <hr>
            <h3 class="mgb10">处理任务</h3>
            <div class="layui-form-item">
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label"><em>*</em> 解决方案：</label>
                    <div class="layui-input-block">
                        <select name="resolution">
                            <option value=""></option>
                            {foreach name="task_reply_types" key="k" item="vo"}
                            <option value="{$k}">{$vo}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">备注：</label>
                    <div class="layui-input-block">
                        <textarea id="desc" name="desc" lay-verify="content"></textarea>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label"><em>*</em> 指派给：</label>
                    <div class="layui-input-block">
                        <select name="user_id">
                            <option value=""></option>
                            {foreach name="users" item="vo"}
                            <option value="{$vo.id}">{$vo.name}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">实际耗时：</label>
                    <div class="layui-input-block">
                        <input type="text" id="actual_hours" name="actual_hours" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">解决日期：</label>
                    <div class="layui-input-block">
                        <input type="text" id="resolution_date" name="resolution_date" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block pull-right">
                    <button class="layui-btn btn-primary btn-sm" lay-submit lay-filter="*">保存</button>
                    <a href="/" class="layui-btn layui-btn-primary btn-sm">返回</a>
                </div>
            </div>
            {else}
            <div class="layui-form-item">
                <div class="layui-input-block pull-right">
                    <a href="/" class="layui-btn layui-btn-primary btn-sm">返回</a>
                </div>
            </div>
            {/if}
        </div>

    </form>

</div>

{/block}


{block name="js"}
<script src="__STATIC__/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    CKEDITOR.replace( 'desc' ,{ //由于是demo， 上传url就不单独重写了
            filebrowserBrowseUrl:'__PUBLIC__/ckfinder/ckfinder.html',//设置上传图片的页面为ckfinder.html
            filebrowserImageBrowseUrl:'__PUBLIC__/ckfinder/ckfinder.html?type=Images',
            filebrowserFlashBrowseUrl: '__PUBLIC__/ckfinder/ckfinder.html?type=Flash',
            filebrowserUploadUrl: '__PUBLIC__/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
            filebrowserImageUploadUrl: '__PUBLIC__/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images',
            filebrowserFlashUploadUrl: '__PUBLIC__/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Flash',
            height:200
        }
    );

    $(function () {
        layui.use('laydate', function () {
            var laydate = layui.laydate;
            //日历组件
            laydate.render({
                elem: '#resolution_date', //指定元素
            });
        });
    })
</script>
{/block}