{extend name="layout" /}
{block name="body"}

<div class="layui-fluid">
    <form method="POST" action="/user/{$user.id}" id="add-user-form" class="layui-form" lay-filter="add-user">
        <input type="hidden" name="_method" value="put">
        <div class="pd10">
            <h3 class="mgb10">编辑用户</h3>
            <div class="layui-form-item">
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label"><em>*</em> 用户名：</label>
                    <div class="layui-input-block">
                        <input type="text" name="username" id="username" value="{$user.username}" placeholder="请输入用户名" autocomplete="off" class="layui-input" lay-verify="required">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label"><em>*</em> 姓名：</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" id="name" value="{$user.name}" placeholder="请输入姓名" autocomplete="off" class="layui-input" lay-verify="required">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">密码：</label>
                    <div class="layui-input-block">
                        <input type="password" name="password" id="password" placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">重复密码：</label>
                    <div class="layui-input-block">
                        <input type="password" name="password_confirm" id="password_confirm" placeholder="请再次输入密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="is_admin" value="1" lay-skin="primary" title="管理员" {$user.is_admin == 1 ? 'checked' : ''}>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block pull-right">
                    <button class="layui-btn btn-primary btn-sm" lay-submit lay-filter="*">保存</button>
                    <a href="/user" class="layui-btn layui-btn-primary btn-sm">返回</a>
                </div>
            </div>
        </div>

    </form>

</div>

{/block}
