{extend name="layout" /}
{block name="body"}

<div class="layui-fluid">
    <div class="mgt10 mgb10">
        <div class="text-right">
            <a href="/user/create"><button class="layui-btn layui-btn-normal layui-btn-sm">新增</button></a>
        </div>
        <table class="layui-table table">
            <colgroup>
                <col width="20%">
                <col width="20%">
                <col width="20%">
                <col width="40%">
            </colgroup>
            <thead>
            <tr>
                <th>用户名</th>
                <th>真实姓名</th>
                <th>管理员</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            {foreach name="users" item="vo"}
            <tr>
                <td>
                    {$vo.username}
                </td>
                <td>
                    {$vo.name}
                </td>
                <td>{$vo.is_admin_txt}</td>
                <td>
                    <a href="/user/{$vo.id}/edit" data-id="{$vo.id}" class="editBtn">编辑</a>
                    {if condition="$vo.id != 1"}
                    <a href="javascript:;" data-id="{$vo.id}" data-url="/user/{$vo.id}" class="deleteBtn">删除</a>
                    {/if}
                </td>
            </tr>
            {/foreach}

            </tbody>
        </table>

        <div class='table-bottom-box clearfix'>
            <div class='total-count p-l'>
                <span>共{$users->total()}条记录</span>
            </div>
            <!-- 此处放分页 -->
            <div class='page-box p-r'>
                {$users->render()}
            </div>
        </div>
    </div>

</div>

{/block}
